.splash {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #222;
}

div.logo {
  position: relative;
}

img
{
  width: 50%;
  height: 50%;
  position: relative;
  transform: translate(50%, -25%);
}

svg {
  position: absolute;
  width: 50%;
  height: 50%;
  transform: translate(50%, -25%) rotate(30deg);
  animation: glow 1.5s linear alternate;
  filter: blur(0px);
  z-index: 0;
  fill: gold;
  transition: .2s;
}

@keyframes glow {
  from,
  to {
    filter: blur(0px);
  }
  50% {
    filter: blur(80px);
  }
}

img:hover+svg {
  fill: rgba(244, 66, 232, 1);
}